.auth {
  padding:100px 0px;
  height:100%;
  margin-bottom:-900px;
}

#meme {
  width:300px;
}

.auth .container{
  max-width:800px !important;
}

.auth h1 {
color:black;
text-shadow:3px 3px 3px lightgrey;
}

.auth input {
border:1px solid black;
box-shadow:3px 5px 3px lightgrey;
border-radius:0px;
border-color:black;
outline-color:black;
}



.auth label {
color:black;
}

.auth button {
  border-radius:0px;
}