.dashboard .container {
  max-width:500px !important;
  height:100%;
  -webkit-overflow-scrolling: touch;
}
.dashboard {
  padding: 30px 0px;
  height:100%;
  -webkit-overflow-scrolling: touch;
}

.dashboard .category {
  box-shadow:2px 2px 5px 1px lightgrey;
  margin-right:10px;
  padding:10px;
  cursor:pointer;
  border-radius:40px !important;
  color:black !important;
  border:0px solid transparent;
  background:white !important;
}

.dashboard .btn-secondary:not(:disabled):not(.disabled).active {
  background:white;
  box-shadow:1px 1px 1px 1px lightgrey;
}

.dashboard .category:hover {
  background:white;
}