.navbar {
border-radius:0px;
border:0px;
box-shadow: 3px 3px 3px lightgrey;
background:none!important;
}


.navbar-brand {
               color:white !important;
               padding:10px;
               background:black;
               text-transform:uppercase;
               }

.navbar-brand:hover {
color:white !important;
text-transform:uppercase;
}


.navbar .nav-link a,.navbar-expand-md .navbar-nav .nav-link{
color:rgba(0,0,0,.5) !important;
}


.navbar .dropdown-item {
               display: block;
               width: 100%;
               padding: 0.25rem 1.5rem;
               clear: both;
               font-weight: 400;
               text-align: inherit;
               white-space: nowrap;
               background-color: transparent;
               border: 0;
}



button.dropdown-item,.navbar-expand-md .navbar-nav .dropdown-item a {
               color:black !important;   
               }

.dropdown-divider {
border-top:1px solid white;
}

.dropdown-item:focus, .dropdown-item:hover {
               text-decoration: none !important;
}

.navbar-toggler-icon{
               background:black !important;
               height:4px !important;
               display:block !important;
               margin:5px 0px;
}

.navbar-toggler {
               border:1px solid white !important;
}

.dropdown-item a, .dropdown-item a:hover {
               color:white;
}