.profile .container:nth-child(1) {
               max-width:700px;
               box-shadow:3px 3px 8px 3px grey;
               padding:30px;
               margin-top:20px;
}

#editusername {
border:1px solid grey;
outline:0px;
margin-left:10px;
}

#username{
padding:0px;
margin:0px;
}

#editbio {
border:1px solid grey;
margin-left:10px;
}



#profile {
max-width:250px;
box-shadow:3px 3px 3px lightgrey;
margin:0px auto;
border:1px solid black;
}

#btn-submit {
margin-left:10px;
}

#change-profile {
margin-top:5px;
}

.renderChangedPic {
width:200px;
}
h2 {
               text-transform:uppercase;
}