.profile .container:nth-child(1) {
               max-width:700px;
               padding:30px;
               margin-top:20px;
}



#username{
padding:0px;
margin:0px;
}



#profile img{
max-width:250px;
cursor:pointer;
box-shadow:3px 3px 3px lightgrey;
margin:0px auto;
/*float:right;*/
}

#change-profile {
               margin:10px 0px;
               border-radius:0px;
               }







h4 {
               text-transform:capitalize;
               margin-left:20px;
}