.profile .container:nth-child(1) {
               max-width:700px;
               padding:30px;
               margin-top:20px;
}

#editusername {
border:1px solid grey;
outline:0px;
margin-left:10px;
}

#username{
padding:0px;
margin:0px;
}

#editbio {
border:1px solid grey;
margin-left:10px;
}

#profile img{
max-width:250px;

box-shadow:3px 3px 3px lightgrey;
margin:0px auto;
/*float:right;*/
}

#change-profile {
               margin:10px 0px;
               border-radius:0px;
               }


#btn-submit {
margin-left:10px;
border-radius:0px;
}




h4 {
               text-transform:capitalize;
               margin-left:20px;
}