#stars{
  margin-top:-9px;
  padding:30px;
}
#stars h1 {
  color:black;
  text-transform: uppercase;
  padding:20px;
  text-align:center
}
.col {
  margin:20px 0px;
}
h6 a, h6 a:hover,h5 {
  color:black;
  text-align:center;
}
.profile-pic {
  width:100px;
  height:100px;
  border-radius:100px;
  border:1px solid lightgrey;
  box-shadow:3px 3px 3px solid lightgrey;
}
