#stars{
  margin-top:-9px;
  padding:30px;
}
#stars h1 {
  color:black;
  text-transform: uppercase;
  padding:20px;
  text-align:center
}
.card {
  float:left;
  margin:20px 8px
}
h6,h5 a, h5 a:hover {
  color:black !important;
  text-align:center;
}

